<div class="content-wrapper">
    <div class="cocktail-title">
    </div>
    <div class="cocktail-list">
        <% @cocktails.each do |cocktail| %>
            <div class="cocktail-list-container">
                <h3><%= cocktail.name %></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione totam maiores nesciunt perspiciatis aliquam officia, accusantium maxime aliquid facilis dignissimos, autem, id praesentium vel. Blanditiis.</p>
                <div class="cocktail-footer">
                    <%= link_to 'About', cocktail_path(cocktail)  %>
                    <% if user_signed_in? %>
                        <% if policy(cocktail).edit? || policy(cocktail).destroy?%>
                        <%= link_to 'Edit', edit_cocktail_path(cocktail) %>
                        <button id="sweet-alert-demo" class="delete-button"><i class="far fa-trash-alt"></i></button>
                        <%= link_to "", cocktail_path(cocktail), method: :delete, id: "delete-link", class: "hidden" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>