// Specific CSS for your home-page
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eee;
  position: relative;
}

.form-control:focus {
  color: none;
  background-color: #fff;
  border-color: #ccc;
  outline: none;
  box-shadow: none;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flash-alert {
  position: absolute;
  bottom: 13%;
  right: 0;
}
